body {
    background-color: rgb(107, 174, 228);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    color: white;
    text-align: center;
}

#dados {
    text-align: start;
}

section {
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 10px;
    width: 50%;
    height: 650px;
    margin: auto;
    padding-bottom: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.137);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
}

div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#res { /* Mostra o resultado da função */
    text-align: center;
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 35px;
}